
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model C_18_01_Capstone.Web.ViewModels.UserViewModel
  
@using (Html.BeginForm("Register", "User"))
{
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        @Html.LabelFor(m => Model.Login, new { @class = "pull-right" })
      </div>
      <div class="col-md-4">
        @Html.TextBoxFor(m => Model.Login, "", new { @class = "form-control" })
      </div>
      <div class="col-md-4">
        @Html.ValidationMessageFor(m => Model.Login, "", new { @class = "text-danger" })
      </div>
    </div>
  </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2 col-md-offset-2">
              @Html.Label("Password", new { @class = "pull-right" })
            </div>
            <div class="col-md-4">
              @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
              @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
          </div>

        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <input class="btn btn-success form-control" type="submit" value="OK" />
            </div>
          </div>
        </div>
}

