<!DOCTYPE html>

<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script href="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <meta name="viewport" content="width=device-width" />
    <title>Capstone</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div>
        <nav class=" navbar navbar-expand-lg navbar-dark bg-primary row">
            <div class="col-xs-offset-1">
                <a class="navbar-brand black" href="~/User/Login">Login</a>
                <a class="navbar-brand black" href="~/User/Register">Register</a>
            </div>
        </nav>
        @RenderBody();
    </div>
</body>
</html>
@Scripts.Render("~/bundles/register")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-validation")
@Scripts.Render("~/bundles/bootstrap")